<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SMS Spam Detection</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.15/dist/tailwind.min.css" rel="stylesheet">
</head>
<body class="bg-gray-100 flex items-center justify-center h-screen">
    <div class="bg-white p-8 rounded-lg shadow-md w-80">
        <h1 class="text-2xl font-bold mb-4">SMS Spam Detection</h1>
        <form action="/detect" method="POST">
            <div class="mb-4">
                <label for="text-input" class="block text-sm font-medium text-gray-600">Enter Text:</label>
                <input type="text" id="text-input" name="text_input" class="w-full mt-1 px-3 py-2 border rounded-md text-sm focus:ring focus:ring-blue-200" placeholder="Type something...">
            </div>
            <div class="text-center">
                <button type="submit" class="bg-blue-500 hover:bg-blue-600 text-white font-semibold px-4 py-2 rounded-full transition duration-300 ease-in-out">Submit</button>
            </div>
        </form>
        {% if op %}
            <div class="mt-4">
                <h2 class="text-lg font-semibold">Result:</h2>
                <p>The message is:  {{ op }}</p>
            </div>
        {% endif %}
    </div>

</body>
</html>
